body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: cadetblue;
    margin-left: 20px;
    margin-right:20px;
    background-image:url(/public/images/cartographer.png);
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33%;
    margin-bottom: 20px;
    padding: 8px;
  }
  h2{
    color:white;
    font-size:50px;
    letter-spacing: 4px;
  }
  h1{
    color:white;
    font-size:50px;
    letter-spacing: 4px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color:rgb(12, 43, 43);
    color: white
    ;
  }
  
  .container {
    padding:16px;
    background-color:rgb(12, 43, 43);
    background-image:url(/public/images/cartographer.png);
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color:white;
  }
  p{
    color:white;
  }
  
  .button {
    border: none;
    outline: 2px;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: cadetblue;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    
  }