
body{
    margin: 0; 
    padding:0;
    background: white;
    font-family: 'Raleway', sans-serif;
    color:white;
}

/* background image */
.banner{
    height: 100vh;
    width: 100%;
    background:url(../images/cartographer.png),url(../images/man\ looking\ up\ at\ yosemite.jpg);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
   
    /* filter:blur(); */
}
/*navbar  from top of page*/
.banner .navbar{
    margin-top: 2%;
}
/* main left page logo */
.navbar-brand{
    margin-left: 1%;
    z-index:2;  
}
/* right nav position logo */
.nav{
    margin-right: 10%;
}
/* right button css */
.nav-link{
    color:white;
    font-size: 1.5em;
    font-weight:bolder;
  
}
.nav-link:hover{
    color:rgb(146, 143, 143);
}

.nav-link:active{
    color:white;
}


/* large middle logo postioning */
.info{
    margin-top:5%;
    transform:translateY(10%);
}

/*large midldle logo CSS */
.info h1{
    color:white;
    font-size: 4em;
    font-weight: 1000;
    letter-spacing: 15px; 
}
/*  text under large midldle logo CSS */
.info p{
    color:white;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 2px;
}
.btn{
    background-color: rgb(90, 122, 34);
    color: white;
    filter:opacity(80%);
}
/* search bar css */
.search{
    padding: bottom 5px;
    margin-bottom: 10px;
    filter:opacity(55%);
}
.media{
    color:white;
    
}
.image-1{
    height: 50%; 
    width: 40%;
    margin-left: 5%;

}
.media-body{
    float:right;
    padding-right: 3%;
    color:white; 
    
}
.media{
    background:url(/public/images/shley-tree-1.png);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.btn1{
float:inherit
}
form.signup,
form.login {
margin-top: 50px;
letter-spacing: 2px;
z-index: 2;
position: absolute;
padding: 4rem 10rem 4rem;
bottom: 30%;
width: 30%;
height: 35%;
font-size: 30px;
color:rgb(252, 252, 252);
}



.container-left{
    min-width: 50vw;
    min-height: 100vh;
    display:flex;
    background-image:url(../images/shley-tree-1.png);
}
.container-right{
    min-width: 50vw;
    min-height: 100vh;
    display:flex;
}

.right{
    flex:1;
    width: 50%;
}
.left{
   flex:1;
    width: 50%;
    

}

h2{
    letter-spacing: 10px;
    font-weight: 400;
    z-index: 2;
    color: rgb(255, 255, 255);
    width: 10%;
    text-align: center;
    text-emphasis: bolder;
    position: absolute;
    left: 4.5%;
    top: 20%;
    font-size: 10rem;
}
.sign{
    letter-spacing: 10px;
    font-weight: 400;
    z-index: 2;
    color: rgb(255, 255, 255);
    width: 50%;
    text-align: center;
    position: absolute;
    left: -10%;
    top: 20%;
    font-size: 9rem;
}

.l-page{
    font-weight:800;
    font-size:20px;
    background-color:rgb(112, 112, 112) ;
    color: rgb(255, 255, 255);
}

@media (min-width: 411px) and (max-width: 1500px) {
    .container-right {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }
    .sign {
        font-weight: 600;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        font-size:50px;
        left: 2%
    }
}

